.nav-item{
  margin-left:3rem;
}
/* home page */
/* .heroHome-image{
  box-shadow: 0px 0px 6px rgba(238, 231, 231, 0.5);    
    border-radius: 50px; 
} */
/* footer section */
.footer-last a{
  text-decoration: none;
  opacity: 0.6;
  font-weight: bold;
}
.footer-links a{
  text-decoration: none;
  opacity: 0.5;
  font-weight: 550;
  font-size: 140%;
  margin-bottom: 0.8rem;
  display: inline-block;
  color:black
}
.footer-icons a i{
  margin-right: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  opacity: 0.7;
  
}
.footer-icons a{
  text-decoration: none;
  color:black;
}
/* Support page css */
#supportHero{
  background-color:#397ed1 ;
  color:white;
  
}

#supportHeroLeft a, #supportHeroRight a{
  color:white;
  margin-left:2rem;
  margin-top:5rem;
}

#supportWrapper{
  display:flex;
  justify-content: space-around;
  

}

#supportHeroLeft input{
  padding:20px 50px;
  width:100%;
  font-size: 20px;
  border:none;
  border-radius: 10px;
  margin-top:1.3rem;
  margin-bottom:1.3rem;

}

